*.o
*.lo
*.la
.libs/
.deps/
.dirstamp

/Makefile
/Makefile.in

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/configure
/config.guess
/config.sub

/libtool
/stamp-h1
/missing
/ltmain.sh
/compile
/depcomp
/install-sh

*~
.*.swp
